---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Sticky footer
html {
  position: relative;
  min-height: 100%;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#main {
  flex: 1;
}
.footer {
  width: 100%;
  background-color: #f5f5f5;
}

// Fix fonts
$icon-font-path: "{{ site.bootstrap | prepend: site.baseurl }}/assets/fonts/bootstrap";
$fa-font-path: "{{ site.font-awesome | prepend: site.baseurl }}/fonts";

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "syntax-highlighting",
        "bootstrap",
        "font-awesome"
;
