---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
.top-buffer {
  margin-top: 40px;
}

p {
  font-size: 18px;
}

/*******************************************************************************
Fix fonts
*******************************************************************************/
$icon-font-path: "{{ site.bootstrap | prepend: site.baseurl }}/assets/fonts/bootstrap";
$fa-font-path: "{{ site.font-awesome | prepend: site.baseurl }}/fonts";

/*******************************************************************************
Eliminate large desktop size
*******************************************************************************/
$container-large-desktop: 970px;

/*******************************************************************************
// Import partials from `sass_dir` (defaults to `_sass`)
*******************************************************************************/
@import
        "syntax-highlighting",
        "..{{ site.bootstrap }}/assets/stylesheets/bootstrap",
        "..{{ site.font-awesome }}/scss/font-awesome",
        "flex",
        "sticky-footer",
        "tag"
;
