---
layout: default
title:  "Resume"
categories:
exclude_from_nav: true
---
<h1>Will Fancher</h1>
<h1><small>Software Developer</small></h1>

{% include contact.html %}

<h3>Objective:</h3>
<p>
  I love technology.
  I think it's the perfect intersection of art and science;
  using math and logic to expand the universe with new ideas and creativity.
  Computer science has influenced nearly every aspect of our lives.
  From exploring the depths of space, to sharing important memories.
  It has given us the tools to create and to learn.
  For these reasons, I've dedicated myself to understanding this science.
</p>

<h3>About me:</h3>

{% include about.html %}

<h3>Experience</h3>
<ul class="list-group">
  <li class="list-group-item">
    <h2>Software Engineer</h2>
    <h2><small>Quiet Speculation, LLC - October 2015 to Present</small></h2>
    <p>
      <strong>Responsibilities: </strong>
      Automated web scraping to analyze Magic: The Gathering tournaments.
      Used machine learning to draw conclusions from data automatically.
      Data was stored in a MySQL database and presented with a JSON REST API.
    </p>
    <p>
      <strong>Skills used:</strong>
      <span class="label label-info">Web scraping</span>
      <span class="label label-info">MySQL</span>
      <span class="label label-info">Parallel programming</span>
      <span class="label label-info">Java</span>
      <span class="label label-info">Machine Learning</span>
    </p>
  </li>
  <li class="list-group-item">
    <h2>Software Engineer</h2>
    <h2><small>Foundation City, LLC - June 2016 to Present</small></h2>
    <p>
      <strong>Responsibilities: </strong>
      Developed web technologies for clients.
      Used Meteor.js to develop full stack applications.
      Focused on application performance and reducing load times.
    </p>
    <p>
      <strong>Skills used:</strong>
      <span class="label label-info">Meteor</span>
      <span class="label label-info">MongoDB</span>
    </p>
  </li>
  <li class="list-group-item">
    <h2>Research programmer</h2>
    <h2><small>
      University of Louisville - February 2014 to February 2015
    </small></h2>
    <p>
      <strong>Responsibilities:</strong>
      I was the programmer for a research project lead by Dr. Frieboes
      simulating tumor growth.
      Designed and developed algorithms for the project.
      Implemented massively parallel computations on large data sets.
    </p>
    <p>
      <strong>Skills used:</strong>
      <span class="label label-info">OpenCL</span>
      <span class="label label-info">OpenGL</span>
      <span class="label label-info">Objective-C</span>
    </p>
  </li>
  <li class="list-group-item">
    <h2>Fraxl</h2>
    <h2><small>Personal Project</small></h2>
    <p>
      Automatic caching and concurrency for data sources in Haskell.
      Similar to <a href="https://github.com/facebook/Haxl">Haxl</a>,
      which Facebook developed for their spam filter.
    </p>
    <p>
      <strong>Accomplishments:</strong>
      Used knowledge in category theory and concurrency to simplify
      the creation, optimization, and testing of data sources.
      Will be presenting this at Compose Conference Melbourne later this year.
    </p>
    <p>
      <strong>Skills used:</strong>
      <span class="label label-info">Haskell</span>
      <span class="label label-info">Concurrency</span>
      <span class="label label-info">Category Theory</span>
    </p>
    <p>
      <a href="https://github.com/ElvishJerricco/fraxl">GitHub</a>
      •
      <a href="https://youtu.be/Fe3-N9mKuPA">Presentation</a>
    </p>
  </li>
</ul>

<h3>Interests</h3>
<p>
  I enjoy playing Magic: The Gathering.
  It's a creative game of strategy,
  and it admits some really cool automated analysis.
  I also spend a lot of time reading about abstract mathematics as hobby.
  Math provides a strong understanding of lots of things in the universe,
  and I enjoy seeing how that applies to other aspects of my life.
</p>

<style type="text/css">
  /* Avoid page breaks inside list items when printing. */
  @media print {
    .list-group-item {
      page-break-inside: avoid;
    }
  }
</style>
