---
layout: default
title:  "Resume"
categories:
exclude_from_nav: true
---
<h1>Will Fancher</h1>
<h1><small>Software Developer</small></h1>

{% include contact.html %}

<h3>Objective:</h3>
<p>
  Software developer focused on leveraging asynchronous, concurrent, and
  functional programming to build performant applications.
</p>
<hr />
<h3>About me:</h3>

{% include about.html %}

<h3>Experience</h3>
<ul class="list-group">
  <li class="list-group-item">
    <h2>Software Engineer</h2>
    <h2><small>Quiet Speculation, LLC - October 2015 to Present</small></h2>
    <p>
      <strong>Responsibilities: </strong>
      I developed systems for acquiring data, storing the data in a database, and analyzing the data with algorithms I wrote.
    </p>
    <p>
      <strong>Skills used:</strong>
      <span class="label label-info">Web scraping</span>
      <span class="label label-info">MySQL</span>
      <span class="label label-info">Parallel programming</span>
      <span class="label label-info">Java</span>
    </p>
  </li>
  <li class="list-group-item">
    <h2>Technical Consultant</h2>
    <h2><small>Western Auto - 2013 to Present</small></h2>
    <p>
      Provided consultation services to assist with daily technical and administrative support.
    </p>
    <p>
      <strong>Responsibilities:</strong>
      Upgrading the operating systems and software of network workstations,
      trouble shooting and fixing network communication issues,
      repairing hardware issues on network workstations,
      and entry of point of sale data into accounting system.
    </p>
  </li>
  <li class="list-group-item">
    <h2>Research programmer</h2>
    <h2><small>University of Louisville - February 2014 to February 2015</small></h2>
    <p>
      <strong>Responsibilities:</strong>
      I was the programmer for a research project lead by Dr. Frieboes simulating tumor growth.
      Designed and developed algorithms for the project.
    </p>
    <p>
      <strong>Skills used:</strong>
      <span class="label label-info">OpenCL</span>
      <span class="label label-info">OpenGL</span>
      <span class="label label-info">Objective-C</span>
      <span class="label label-info">Object Oriented Programming</span>
    </p>
  </li>
  <li class="list-group-item">
    <h2>Nifty</h2>
    <h2><small>Personal Project</small></h2>
    <p>
      Asynchronous and concurrent utilities for the Swift programming language,
      based on Grand Central Dispatch.
    </p>
    <p>
      <strong>Accomplishments:</strong>
      Learned Swift to create Channels (based on Go), Streams (based on Java 8), Futures / Promises.
    </p>
    <p>
      <strong>Skills Used</strong>
      <span class="label label-info">Swift</span>
      <span class="label label-info">Grand Central Dispatch</span>
      <span class="label label-info">Functional Programming</span>
    </p>
    <p>
      <a href="https://github.com/ElvishJerricco/Nifty">https://github.com/ElvishJerricco/Nifty</a>
    </p>
  </li>
  <li class="list-group-item">
    <h2>JVML-JIT</h2>
    <h2><small>Personal Project</small></h2>
    <p>
      Worked with online colleagues to develop a JVM in Lua.
      Used a custom library (asm.lua) to JIT compile Java bytecode to Lua bytecode.
      Implemented a subset of the Java standard library.
    </p>
    <p>
      <strong>Skills used:</strong>
      <span class="label label-info">Lua</span>
      <span class="label label-info">Lua Bytecode</span>
      <span class="label label-info">Java</span>
      <span class="label label-info">JVM</span>
      <span class="label label-info">Java Bytecode</span>
    </p>
    <p>
      <a href="https://github.com/Team-CC-Corp/JVML-JIT">https://github.com/Team-CC-Corp/JVML-JIT</a>
    </p>
  </li>
  <li class="list-group-item">
    <h2>LuaLua</h2>
    <h2><small>Personal Project</small></h2>
    <p>
      Built a compiler in Lua for an object oriented flavor of Lua.
      Provided software support for regular users,
      including issue tracking and feature requests.
    </p>
    <p>
      <strong>Skulls used:</strong>
      <span class="label label-info">Lua</span>
      <span class="label label-info">Parsing</span>
      <span class="label label-info">Programming Language Theory &amp; Design</span>
      <span class="label label-info">Object Oriented Programming</span>
    </p>
    <p>
      <a href="https://github.com/Team-CC-Corp/LuaLua">https://github.com/Team-CC-Corp/LuaLua</a>
    </p>
  </li>
</ul>
