<div class="row">
  <div class="col-xs-12 col-sm-4 pull-right">
    <div class="tag tag-success">
      <p class="tag-text-lg">5+</p>
      <p class="tag-text-sm">Years Experience</p>
    </div>
  </div>
  <div class="col-xs-12 col-sm-8">
    <h1>Freelance software developer</h1>
    <p>I started programming in 2010 and haven't stopped learning. I've picked up a multitude skills along the way. Although I'm most experienced with Java and web development, I'm also very familiar with functional programming and languages like Haskell. I have plenty of personal interests in programming, such as concurrency programming language theory, and category theory.</p>
  </div>
</div>
