<div class="well">
  <div class="row flex-row flex-wrap">
    <div class="col-xs-6 col-xs-offset-3 col-sm-3 col-sm-offset-0">
      <img class="img-responsive img-circle" src="{{ "/img/profile.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="col-xs-12 col-sm-8 flex-col">
      <div class="flex-item-1">
        <h1 class="text-center">Will Fancher</h1>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <a class="btn btn-default btn-block" href="https://github.com/{{ site.github_username }}">
            <span class="fa fa-github"></span>
            GitHub
          </a>
        </div>
        <div class="col-xs-6">
          <a class="btn btn-default btn-block" href="https://twitter.com/{{ site.twitter_username }}">
            <span class="fa fa-twitter"></span>
            Twitter
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
