<p>
  <table class="table table-bordered">
    <tbody>
      <tr>
        <th scope="row">
          <span class="fa fa-envelope"></span> Email
        </th>
        <td>
          <a href="mailto:willfancher38@gmail.com">
            willfancher38@gmail.com
          </a>
        </td>
      </tr>
      <tr>
        <th scope="row">
          <span class="fa fa-phone"></span> Phone
        </th>
        <td>
          <a href="tel:502-599-9707">
            502-599-9707
          </a>
        </td>
      </tr>
      <tr>
        <th scope="row">
          <span class="fa fa-github"></span> Github
        </th>
        <td>
          <a href="https://github.com/ElvishJerricco">
            https://github.com/ElvishJerricco
          </a>
        </td>
      </tr>
      <tr>
        <th scope="row">
          <span class="fa fa-twitter"></span> Twitter
        </th>
        <td>
          <a href="https://twitter.com/ElvishJerricco">
            https://twitter.com/ElvishJerricco
          </a>
        </td>
      </tr>
      <tr>
        <th scope="row">
          <span class="fa fa-globe"></span> Website
        </th>
        <td>
          <a href="http://elvishjerricco.github.io">
            http://elvishjerricco.github.io
          </a>
        </td>
      </tr>
      <tr>
        <th scope="row">
          <span class="fa fa-map"></span> Location
        </th>
        <td>
          Louisville, KY
        </td>
      </tr>
    </tbody>
  </table>
</p>
