<footer class="footer">

  <div class="container">

    <div class="row">
      <div class="col-md-3 col-xs-12">{{ site.title }}</div>

      <div class="col-md-3 col-xs-12">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="col-md-1 col-xs-6">
        {% if site.github_username %}
        <a class="btn btn-default" href="https://github.com/{{ site.github_username }}">
          <span class="fa fa-github"></span>
          GitHub
        </a>
        {% endif %}
      </div>
      <div class="col-md-1 col-xs-6">
        {% if site.twitter_username %}
        <a class="btn btn-default" href="https://twitter.com/{{ site.twitter_username }}">
          <span class="fa fa-twitter"></span>
          Twitter
        </a>
        {% endif %}
      </div>

      <div class="col-md-4 col-xs-12">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
