/*******************************************************************************
Tags
*******************************************************************************/

.tag {
  @extend .tag-default;
  margin: 0 auto;
  max-width: 200px;
  text-align: center;
  border-radius: 30px;
  padding: 10px;
}

.tag-default {
  background-color: $gray-light;
  color: #fff;
}

.tag-primary {
  background-color: $brand-primary;
  color: #fff;
}

.tag-success {
  background-color: $brand-success;
  color: #fff;
}

.tag-info {
  background-color: $brand-info;
  color: #fff;
}

.tag-warning {
  background-color: $brand-warning;
  color: #fff;
}

.tag-danger {
  background-color: $brand-danger;
  color: #fff;
}

.tag-text-lg {
  font-size: 8em;
  line-height: 100%;
  // Prevent inheriting text-decoration
  display: table;
  width: 100%;
}

.tag-text-sm {
  font-size: 1em;
  // Prevent inheriting text-decoration
  display: table;
  width: 100%;
}
