---
layout: default
---
<article itemscope itemtype="http://schema.org/BlogPosting">

  <header>
    <h1 itemprop="name headline">{{ page.title }}</h1>
    <p class="text-muted">
      <p><a href="{{ "/feed.xml" | prepend: site.baseurl }}">Subscribe via RSS</a></p>
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: "%b %-d, %Y" }}
      </time>
      {% if page.author %}
      • <span itemprop="author" itemscope itemtype="http://schema.org/Person">
        <span itemprop="name">{{ page.author }}</span>
      </span>
      {% endif %}
    </p>
  </header>

  <hr />

  <div itemprop="articleBody">
    {{ content }}
  </div>

</article>
